<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	<!-- 줄임말 작성할 수 있음 -->
	<typeAlias type="com.example.spring01.model.dto.MemberDTO"
	  alias= "memberDto" />
	</typeAliases>

</configuration>

